.header-container {
    background-color: #C41E24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    max-height: 92px;
    min-height: 92px;
    overflow: hidden; 
}
.logo-image{
    min-width: 50%;
    max-width: 50%;
    padding: .5rem;
}
.logo-container {
    display: flex;
    align-items: center;
    gap: .1rem;
}
.brand-name{
    font-size: 26px;
    color: white;
    font-weight: bold
}


.header-right {
    display: flex;
    align-items: center;
    margin-right: 3rem;
}

.notification-container {
    display: flex;
    /* align-items: center; */
    font-size: 26px;
    color: white;
    margin-right: 4rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

.notification-icon {
    margin-right: 8px;
}

.notification-text {
    font-size: 16px;
}

.admin-profile-container {
    display: flex;
    align-items: center;
    color: white;
}

.profile-image {
    border-radius: 50%;
    width: 70px; 
    height: 70px; 
    margin-right: 10px;
}

.admin-name {
    font-size: 16px;
    font-weight: 400;
}
